@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* globals.css or styles.css */
body {
  @apply bg-black; /* Tailwind CSS utility */
  font-family: var(--font-effra);
}

/*
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-effra);
}
*/

/* Weight/style combinations */
.effra-light {
  font-weight: 300;
}

.effra-light-italic {
  font-weight: 300;
  font-style: italic;
}

.effra-regular {
  font-weight: 400;
}

.effra-regular-italic {
  font-weight: 400;
  font-style: italic;
}

.effra-medium {
  font-weight: 500;
}

.effra-medium-italic {
  font-weight: 500;
  font-style: italic;
}

.effra-bold {
  font-weight: 700;
}

.effra-bold-italic {
  font-weight: 700;
  font-style: italic;
}

.effra-heavy {
  font-weight: 800;
}

.effra-heavy-italic {
  font-weight: 800;
  font-style: italic;
}
